:root {
    --main-color: #1abc9c;
    --second-color: #2c3e50;
}
.navbar, footer{
    background-color: var(--second-color);
    transition: all .6s;
}

.h-small{
    padding-bottom: 20px !important;
}
.active{
    background-color: var(--main-color) !important;
}
.bg-main{
    background-color: var(--main-color) !important;
}
.bg-secondary-c{
    background-color: var(--second-color) !important;
}
.line{
    height: 4px;
    width: 80px;
    background-color: white;
}
.main-c{
    color: var(--main-color);
}
.secondary-c{
    color: var(--second-color);
}
.labl{
    top: 40px !important;
}
label{
    transition: .6s all;
    margin-top: 7px;
    margin-bottom: 7px;
}